# Stage 09 — Homework Starter Notebook

In the lecture, we learned how to create engineered features. Now it’s your turn to apply those ideas to your own project data.

In [4]:
import pandas as pd
import numpy as np

# Example synthetic data (replace with your project dataset)
np.random.seed(0)
n = 100
df = pd.DataFrame({
    'income': np.random.normal(60000, 15000, n).astype(int),
    'monthly_spend': np.random.normal(2000, 600, n).astype(int),
    'credit_score': np.random.normal(680, 50, n).astype(int)
})
df.head()

   income  monthly_spend  credit_score
0   86460           3129           661
1   66002           1191           668
2   74681           1237           734
3   93613           2581           712
4   88013           1296           712

## TODO: Implement at least 2 engineered features here

In [9]:
# Example template:
df['spend_income_ratio'] = df['monthly_spend'] / df['income']  # TODO: Your feature
df['yearly_spend_estimate'] = df['monthly_spend']*12
df# Add rationale in markdown below

,income,monthly_spend,credit_score,spend_income_ratio,yearly_spend_estimate
0,86460,3129,661,0.036190,37548
1,66002,1191,668,0.018045,14292
2,74681,1237,734,0.016564,14844
3,93613,2581,712,0.027571,30972
4,88013,1296,712,0.014725,15552
...,...,...,...,...,...
95,70598,1897,736,0.026870,22764
96,60157,2463,684,0.040943,29556
97,86788,2494,709,0.028737,29928
98,61903,3297,660,0.053261,39564
99,66029,2801,698,0.042421,33612

### Rationale for Feature 1
This feature (spend-to-income ratio) is the proportion of salary allocated to spending. It's valuable because it reveals spending behavior independent of income level - whether someone is a conservative spender (low ratio) or aggressive spender (high ratio). This helps distinguish between income-driven spending patterns and personal spending preferences, which could improve prediction accuracy for future spending behavior.

In [12]:
# TODO: Add another feature
df['credit_score_per_spend'] = (df['credit_score']/850 * 100) / df['monthly_spend']
df

,income,monthly_spend,credit_score,spend_income_ratio,yearly_spend_estimate,credit_score_per_spend
0,86460,3129,661,0.036190,37548,0.024853
1,66002,1191,668,0.018045,14292,0.065985
2,74681,1237,734,0.016564,14844,0.069808
3,93613,2581,712,0.027571,30972,0.032454
4,88013,1296,712,0.014725,15552,0.064633
...,...,...,...,...,...,...
95,70598,1897,736,0.026870,22764,0.045645
96,60157,2463,684,0.040943,29556,0.032672
97,86788,2494,709,0.028737,29928,0.033445
98,61903,3297,660,0.053261,39564,0.023551
99,66029,2801,698,0.042421,33612,0.029317

### Rationale for Feature 2
This feature can be useful because it takes into account how credit score can affect spending. Income does not totally affect spending, so this can help identify how responsiblity with payments and money affects your spending. Another feature that could be extrapolated could take the proportion of income to spend to remove the affect of income on spending.